{% extends "main/layout1.html" %}
{% load static %}
{% block head_link %}
<link rel="stylesheet" href="{% static 'notica/css/jquery.dataTables.min.css' %}">
{% endblock head_link %}

{% block contents %}
<section>
  <div class="container mt-5 border-0 p-3">
    <header>
      <ol class="breadcrumb mb-1 mt-1">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
        <li class="breadcrumb-item"><a href="#">Estudante</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
      </ol>
    </header>

    {% if messages %}
    {% for message in messages %}
    <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-8">
                <h5 class="card-title">{{title}}</h5>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="example">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Naran Estudante</th>
                    <th>Tipu Transfer</th>
                    <th>Husi</th>
                    <th>Ba</th>
                    <th>Data Request</th>
                    <th>Status</th>
                    <th>Asaun</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transfer in transfers %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{transfer.estudante.naran}}</td>
                    <td>
                      <span class="badge badge-{% if transfer.transfer_type == 'IN' %}success{% else %}warning{% endif %}">
                        {{transfer.get_transfer_type_display}}
                      </span>
                    </td>
                    <td>
                      {% if transfer.from_school %}{{transfer.from_school}}{% endif %}
                      {% if transfer.from_turma %}{{transfer.from_turma}}{% endif %}
                    </td>
                    <td>
                      {% if transfer.to_school %}{{transfer.to_school}}{% endif %}
                      {% if transfer.to_turma %}{{transfer.to_turma}}{% endif %}
                    </td>
                    <td>{{transfer.request_date|date:"d/m/Y"}}</td>
                    <td>
                      <span class="badge badge-{% if transfer.status == 'APPROVED' %}success{% elif transfer.status == 'REJECTED' %}danger{% else %}warning{% endif %}">
                        {{transfer.get_status_display}}
                      </span>
                    </td>
                    <td>
                      <a href="{% url 'transfer_detail' transfer.id %}" class="btn btn-sm btn-info">
                        <i class="fa fa-eye"></i> View
                      </a>
                      {% if transfer.status == 'PENDING' and user.groups.all.0.name in 'admin,Secretario' %}
                        <a href="{% url 'approve_transfer' transfer.id %}" class="btn btn-sm btn-success"
                           onclick="return confirm('Aprova transfer ne\'e?')">
                          <i class="fa fa-check"></i> Aprova
                        </a>
                        <a href="{% url 'reject_transfer' transfer.id %}" class="btn btn-sm btn-danger"
                           onclick="return confirm('Rejeita transfer ne\'e?')">
                          <i class="fa fa-times"></i> Rejeita
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="8" class="text-center">Seidauk iha transfer sira</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock contents %}

{% block scripts %}
<!-- Data Table JS
		============================================ -->
<script src="{% static 'notica/js/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'notica/js/data-table/data-table-act.js' %}"></script>
<link href="{% static 'main/datatables/css/searchBuilder.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'main/datatables/css/searchBuilder.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'main/datatables/css/buttons.dataTables.min.css' %}" rel="stylesheet">
<style type="text/css">
    .dtsb-searchBuilder{
        background: #b9c7e6 !important;
        padding: 5px
    }
    .dt-button, .dtsb-add {
        background: white !important;
    }
</style>
<script src="{% static 'main/datatables/js/dataTables.searchBuilder.min.js' %}"></script>
<script src="{% static 'main/datatables/js/searchBuilder.bootstrap4.min.js' %}"></script>
<script src="{% static 'main/datatables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'main/datatables/js/jszip.min.js' %}"></script>
<script src="{% static 'main/datatables/js/pdfmake.min.js' %}"></script>
<script src="{% static 'main/datatables/js/vfs_fonts.js' %}"></script>
<script src="{% static 'main/datatables/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'main/datatables/js/buttons.print.min.js' %}"></script>
<script src="{% static 'main/datatables/js/buttons.colVis.min.js' %}"></script>

<script>
$(document).ready( function () {
    var table = $('#example').removeAttr('width').DataTable( {
        "scrollY": "50vh",
        "scrollX": true,
        "scrollCollapse": true,
        "paging": true,
        searchBuilder: true,
        buttons:[
            {
                extend: 'excelHtml5', autoFilter: true, sheetName: 'Lista Transfer'
            },
            {
                extend: 'print', autoPrint: true, orientation: 'landscape', pageSize: 'LEGAL',
                exportOptions: { columns: ':visible' },
                messageBottom: '<br/><br/><br/><table border=0 width=100%>\
                    <tr><td colspan=2>SAJOBRIL, __________, Fulan ____________ 20_______<br/><br/><br/><br/></td></tr>\
                <tr><td>(______________________________________________)</td></tr>\
                    </table>',
                title: 'LISTA TRANSFER ESTUDANTE',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<center><img src="http://localhost:8000/static/main/images/sajobril_logo_adm.png" width="90%"/></center><br/>'
                        );

                    $(win.document.body).find( 'table' )
                        .addClass( 'compact','table-bordered' )
                        .css( 'font-size', 'inherit' );
                }
            },
            'colvis',
        ],
        dom: 'Bfrtip',
        "deferRender": true
    });
    table.searchBuilder.container().prependTo(table.table().container());
} );
</script>
{% endblock %}