{% extends 'main/layout1.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block head_link %}
<!-- Data Table JS
		============================================ -->
<link rel="stylesheet" href="{% static 'notica/css/jquery.dataTables.min.css' %}">
{% endblock head_link %}
{% block contents %}

<section>
  <div class="container mt-5 p-3">
    <!-- Page Header-->
    <!-- <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              
              <li class="breadcrumb-item"><a href="#">Horario</a></li>
              
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header> -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between text-center">
            <h4> Tabela Lista Horariu</h4>
            <div class="text-center border">
              {% if group == "kurikulum" or group == "admin" %}
              <a href="{% url 'add_hor' %}" class="btn btn-sm btn-outline-danger rounded-0" title="Add Data">Adisiona
                horariu <i class="fa fa-plus"></i></a>
              <a href="{% url 'e-active-Horario' %}" target="_blank" class="btn btn-sm btn-outline-danger rounded-0"
                title="Print Data">Print <i class="fa fa-print"></i></a>

              {% endif %}
            </div>


          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" id="data-table-basic">
                <thead>
                  <tr>
                    <th>Nu</th>
                    <th>Professor</th>
                    <th> Oras</th>
                    <th>Loron </th>
                    <th>Diciplina</th>
                    <th>Classe</th>
                    {% if group == "kurikulum" or group == "admin" %}
                    <th width="15%">Asaun</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for hor in hor %}
                  <tr>
                    <td scope="row"> {{forloop.counter}} </td>
                    <td>{{hor.profesores}}</td>
                    <td> {{hor.Horas.oras_hahu}}OTL--{{hor.Horas.oras_remata}} OTL</td>
                    <td>{{hor.loron}}</td>
                    <td>{{hor.Diciplina}}</td>
                    <td>{{hor.turma}}</td>

                    {% if group == "kurikulum" or group == "admin" %}
                    <td>
                      <div class="d-flex">
                        <div class=""><a href="{% url 'updatehor' hor.id %}" class="btn rounded-0 btn-sm btn-primary"
                            style="background: linear-gradient(to bottom,#000080,#000080); text-decoration-color: #000000;"
                            title="Update"><i class="fa fa-edit"></i></a></div>
                        <div class=""> <button type="button" class="btn btn-sm rounded-0 btn-danger" data-toggle="modal"
                            data-target="#delete-{{ est.id }}" style="text-decoration: none"><i
                              class="fa fa-trash"></i></button></div>
                      </div>
                    </td>
                    <div class="modal fade" id="delete-{{est.id}}" role="dialog">
                      <div class="modal-dialog modals-default">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                            <h2>Hamoos Horario</h2>
                            <p>Hakarak hamoos dadus horario {{hor.loron}}?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn rounded-0 btn-sm btn-secondary" data-dismiss="modal">Kansela</button>
                            <a href="{% url 'deletehor' hor.id %}" class="btn rounded-0 btn-sm btn-default">Hamoos</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
              <ol class="breadcrumb mb-2 mt-1">
                {% if group == "admin" or group == "kurikulum" or group == "Director" %}
                <li class="breadcrumb-item"><a href="{% url 'Listahor' %}">JERAL</a></li>
                {% endif %}

                {% if group == "admin" or group == "kurikulum" or group == "Director" %}
                {% for ii in dep %}
                <li class="breadcrumb-item"><a href="{% url 'HorKlasseList' ii.id %}">{{ii.classe.name}}--{{ ii.Turma}}</a></li>
                {% endfor %}
                {% endif %}
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if page == "form" %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex justify-content-end text-center">
            <div class="text-center border">
            </div>
          </div>
          <div class="card-body">
            {% csrf_token %}
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endblock contents %}
{% block scripts %}
<!-- Data Table JS
		============================================ -->
<script src="{% static 'notica/js/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'notica/js/data-table/data-table-act.js' %}"></script>
{% endblock scripts %}