{% extends 'main/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              
              <li class="breadcrumb-item"><a href="#">Lista Disiplina</a></li>
              
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header>
          
          <div class="row">
             {% include 'conf_side/conf_list.html' %}
            <div class="col-lg-9">
              <div class="card">
                <div class="card-header d-flex justify-content-between text-center"><h4>Lista Tabela Disiplina</h4>
                  <div class="justify-content-between text-center ">
                    
                     <a href="{% url 'AddDics' %}" class="btn btn-sm btn-info " title="Add Data">Adisiona Disiplina <i class="fa fa-plus"></i></a>
                  </div>
                  
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example"  class="table table-hover table-striped w-100">
                      <thead>
                        <tr>
                          <th>Nu</th>
                          <th>Diciplina</th>
                          <th width="15%">Asaun</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for dics in dics %}
                        <tr>
                          <td scope="row"> {{forloop.counter}} </td>
                          <td>{{dics.Diciplina}}</td>
                         
                          
                          <td>
                            <div class="d-flex">
                              <div class="flex-fill"><a href="{% url 'updatedics' dics.id %}" class="btn btn-sm btn-primary" title="Update"><i class="fa fa-pencil"></i></a></div>
                              <div class="flex-fill"> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ dics.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button></div>
                            </div>
                           </td>

                          <div class="modal fade" id="delete-{{ dics.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete Diciplina</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos dadus Classe {{dics.code_dics}}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'Deletedics' dics.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          {% if page == "form" %}
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex justify-content-end text-center">
                  <div class="text-center border">
                  </div>
                </div>
                <div class="card-body">
                  {% csrf_token %}
                  {% crispy form %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </section>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#example').removeAttr('width').DataTable( {
            
        });
    } );
</script>
{% endblock %}