{% load static %}
<aside class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'index_public'%}"><i class="fa fa-home"></i> DASHBOARD</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'Public_historia'%}"><i class="fa fa-list"></i> ISTORIA </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'public_Listaestudante'%}"><i class="fa fa-user"></i> ESTUDANTE </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'publicEstGaleriList'%}"><i class="fa fa-image"></i> GALERIA </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'public_horariu'%}"><i class="fa fa-file-text"></i> ORARIU </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'public_List_estudnte_munisipiu'%}"><i class="fa fa-file-text"></i> MUNISIPIU </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'public_List_estudnte_Pro'%}"><i class="fa fa-file-text"></i> DEPARTAMENTU </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'public_List_estudnte_tinan'%}"><i class="fa fa-file-text"></i> TINAN AKADEMIKU </a></li>
           
            
        </ul>
    </div>
</aside>