{% extends "main/layout1.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_link %}
<!-- Data Table JS
		============================================ -->
<link rel="stylesheet" href="{% static 'notica/css/jquery.dataTables.min.css' %}">
<style>
.hover-underline:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.text-decoration-none:hover {
    text-decoration: none !important;
}
.badge-orange {
    color: #fff;
    background-color: #fd7e14;
}
</style>
{% endblock head_link %}
{% block contents %}
<section>
  <div class="container mt-5 border-0 p-3">
    <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              {% if page == "form" %}
              <li class="breadcrumb-item"><a href="#">Estudante</a></li>
              {% endif %}
              
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header>
    {% if messages %}
    {% for message in messages %}
    <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% if page == "list" %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-5">
                <div class="d-flex justify-content-start mt-2">
                  {% for i in Klasse %}
                  <a href="{% url 'list-estudante-classe' i.name  %}"
                    class="btn btn-sm btn-outline-danger ml-2 rounded-0 mb-2"><i class="fa fa-list"></i> {{i.name}}</a>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-7">
                <div class="d-flex justify-content-end">
                  {% if group == "Secretario" %}
                  <a href="{%url 'add_estudante' %}" class="btn btn-sm btn-outline-danger rounded-0 mb-2 ml-2"><i
                      class="fa fa-plus-square"></i>
                    Resistu Novu Estudante</a>
                  <a href="{% url 'list_students_aprovado' %}"
                    class="btn btn-sm btn-outline-danger rounded-0 mb-2 ml-2"><i class="fa fa-plus-square"></i>
                    Re-inscrisao Estudante</a>
                  {% endif %}
                  
                  {% if group == "admin" or group == "Secretario" %}
                  <a href="{% url 'list_transfers' %}"
                    class="btn btn-sm btn-outline-info rounded-0 mb-2 ml-2"><i class="fa fa-exchange"></i>
                    Lista Transfer</a>
                  <a href="{% url 'transferred_out_students_all' %}"
                    class="btn btn-sm btn-outline-danger rounded-0 mb-2 ml-2"><i class="fa fa-user-times"></i>
                    Transfer Out</a>
                  {% endif %}

                  {% if group == "admin" or group == "Secretario" or group == "Director"%}
                  <a href="{% url 'EReportListActiveEstudanteClasse'%}"
                    class="btn btn-sm btn-outline-danger ml-2 rounded-0 mb-2" title="Print Data" target="_blank"><i
                      class="fa fa-print"></i> Print</a>
                  {% endif %}

                </div>
              </div>
            </div>


          </div>
          
          <!-- Transfer Statistics for Year-Specific View -->
          {% if current_year %}
          <div class="card-body border-bottom">
            <div class="row text-center">
              <div class="col-md-2">
                <div class="mb-2">
                  <a href="{% url 'year-all-registered' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-primary mb-0 hover-underline">{{total_original_students}}</h5>
                  </a>
                  <small class="text-muted">Total Registered</small>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-2">
                  <a href="{% url 'est-tin-list' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-success mb-0 hover-underline">{{active_from_year}}</h5>
                  </a>
                  <small class="text-muted">Currently Active</small>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-2">
                  {% if transfers_in > 0 %}
                  <a href="{% url 'year-transferred-in' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-info mb-0 hover-underline">{{transfers_in}}</h5>
                  </a>
                  {% else %}
                  <h5 class="text-info mb-0">{{transfers_in}}</h5>
                  {% endif %}
                  <small class="text-muted">Transferred IN</small>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-2">
                  {% if transfers_out > 0 %}
                  <a href="{% url 'year-transferred-out' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-warning mb-0 hover-underline">{{transfers_out}}</h5>
                  </a>
                  {% else %}
                  <h5 class="text-warning mb-0">{{transfers_out}}</h5>
                  {% endif %}
                  <small class="text-muted">Transferred OUT</small>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-2">
                  {% if alumni_from_year > 0 %}
                  <a href="{% url 'year-alumni' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-danger mb-0 hover-underline">{{alumni_from_year}}</h5>
                  </a>
                  {% else %}
                  <h5 class="text-danger mb-0">{{alumni_from_year}}</h5>
                  {% endif %}
                  <small class="text-muted">Alumni</small>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-2">
                  {% if transfers_pending > 0 %}
                  <a href="{% url 'year-pending-transfers' current_year.id %}" class="text-decoration-none">
                    <h5 class="text-secondary mb-0 hover-underline">{{transfers_pending}}</h5>
                  </a>
                  {% else %}
                  <h5 class="text-secondary mb-0">{{transfers_pending}}</h5>
                  {% endif %}
                  <small class="text-muted">Pending</small>
                </div>
              </div>
            </div>
            {% if internal_transfers > 0 or external_transfers > 0 %}
            <div class="row text-center mt-2 pt-2 border-top">
              <div class="col-md-6">
                <span class="badge badge-primary">Internal: {{internal_transfers}}</span>
              </div>
              <div class="col-md-6">
                <span class="badge badge-orange">External: {{external_transfers}}</span>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
          
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" id="data-table-basic">
                <thead>

                  <tr>
                    <th>Nu</th>
                    <th class="text-center"><i class="fa fa-user"></i></th>
                    <th>EMIS</th>
                    <th>Naran </th>
                    <th>Sexu</th>
                    {% if group == "Secretario" or group == "Tesoreira"%} <th>#</th> {% endif%}
                  </tr>
                </thead>
                <tbody>
                  {% for data in est %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">{% if data.image %}<a href="{{data.image.url}}" target="_blank"><img
                          src="{{data.image.url}}" width="50px" height="50px"></a>{%else%}{%endif%}</td>
                    <td> <a href="{% url 'detailViewest' data.id %}"> {{ data.emis }}</td>
                    </td>
                    <td>{{ data.naran }}</td>
                    <td>{{ data.Sexo }}</td>
                    {% if group == 'Secretario' %}
                    <td>
                      <div class="d-flex">
                        <div class=""><a href="{% url 'add-classe-estudante' data.id %}"
                            class="btn btn-xs btn-dark rounded-0 ml-1 mb-1" title="Add Classe"><i class="fa fa-plus-square"></i></a>
                        </div>
                        {% if group == "admin" or group == "Secretario" %}
                        <div class=""><a href="{% url 'create_internal_transfer' data.id %}"
                            class="btn btn-xs btn-success rounded-0 ml-1 mb-1" title="Internal Transfer">
                            <i class="fa fa-exchange"></i></a>
                        </div>
                        <div class=""><a href="{% url 'create_external_transfer' data.id %}"
                            class="btn btn-xs btn-warning rounded-0 ml-1 mb-1" title="External Transfer">
                            <i class="fa fa-plane"></i></a>
                        </div>
                        {% endif %}
                        <div class=""><a href="{% url 'updateest' data.id %}" class="btn btn-xs rounded-0 ml-1 btn-info"
                            title="Update"><i class="fa fa-edit"></i></a>
                        </div>
                        <div class="">
                          <button type="button" class="btn btn-xs rounded-0 ml-1 btn-danger" data-toggle="modal"
                            data-target="#delete-{{ data.id }}" style="text-decoration: none" title="Delete"><i
                              class="fa fa-trash"></i></button>

                        </div>
                      </div>
                    </td>
                    {% elif group == "Tesoreira" %}
                    <th>
                      <a class="btn btn-sm btn-outline-info sm-2" href="{% url 'details-Propinas' data.pk %}">
                        <i class="fa fa-list">Propinas</i>
                      </a>
                    </th>

                    {% elif group == "kurikulum" %}
                    <th>
                      <a class="btn btn-sm btn-success sm-2" href="{% url 'detailViewest' data.id %}">
                        <i class="fa fa-eye"></i>
                      </a>
                    </th>
                    <th>
                      <a class="btn btn-sm btn-success sm-2" href="{% url 'details-valor' data.pk %}">
                        <i class="fa fa-list">Valor</i>
                      </a>
                    </th>
                    {% endif %}
                    <div class="modal fade" id="delete-{{data.id}}" role="dialog">
                      <div class="modal-dialog modals-default">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                            <h2>Hamoos Estudante</h2>
                            <p>Ita Boot hakarak hamoos dadus Estudante {{data.naran}}?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn rounded-0 btn-sm btn-secondary" data-dismiss="modal">Kansela</button>
                            <a href="{% url 'deleteest' data.id %}" class="btn rounded-0 btn-sm btn-default">Hamoos</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <ol class="breadcrumb mb-2 mt-1">
                {% if group == "admin" or group == "Tesoreira" or group == "Director" %}
                <li class="breadcrumb-item"><a href="{% url 'Listaestudante' %}">JERAL</a></li>
                {% endif %}

                {% if group == "admin" or group == "Tesoreira" or group == "Director" %}
                {% for tnn in tinan %}
                <li class="breadcrumb-item"><a href="{% url 'est-tin-list' tnn.id %}">{{ tnn.ano }}</a></li>
                {% endfor %}
                {% endif %}
              </ol>
            </div>
          </div>
        </div>
      </div>

      {%endif%}
      {% if page == "form" %}
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between text-center h5 font-weight-bold">
              Formulariu Rejistu Estudante {{estudante}}
            </div>
            <div class="card-body">
              {% csrf_token %}
              {% crispy form %}
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'main/js/jquery.min.js'%}"> </script>
      <script type="text/javascript">
        $("#id_areamunicipality").change(function () {
          var municipalityId = $(this).val();
          $.ajax({
            url: "{% url 'ajax_load_posts' %}",
            data: {
              'municipality': municipalityId
            },
            success: function (data) {
              $("#id_areaadministrativepost").html(data);
            }

          });
        });
        $("#id_areaadministrativepost").change(function () {
          var postId = $(this).val();
          $.ajax({
            url: "{% url 'ajax_load_villages' %}",
            data: {
              'post': postId
            },
            success: function (data) {
              $("#id_areavillage").html(data);
            }
          });

        });
        $("#id_municipality").change(function () {
          var municipalityId = $(this).val();
          $.ajax({
            url: "{% url 'ajax_load_posts' %}",
            data: {
              'municipality': municipalityId
            },
            success: function (data) {
              $("#id_administrativepost").html(data);
            }

          });
        });
        $("#id_administrativepost").change(function () {
          var postId = $(this).val();
          $.ajax({
            url: "{% url 'ajax_load_villages' %}",
            data: {
              'post': postId
            },
            success: function (data) {
              $("#id_village").html(data);
            }
          });

        });
        $("#id_village").change(function () {
          var villageId = $(this).val();
          $.ajax({
            url: "{% url 'ajax_load_aldeias' %}",
            data: {
              'village': villageId
            },
            success: function (data) {
              $("#id_aldeia").html(data);
            }
          });

        });
        //load Imagen
        function myFunction() {
          var image = document.getElementById("output");
          image.src = URL.createObjectURL(event.target.files[0]);
        }

      </script>
      {%endif%}
    </div>

</section>
{% endblock contents %}
{% block scripts %}
<!-- Data Table JS
		============================================ -->
<script src="{% static 'notica/js/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'notica/js/data-table/data-table-act.js' %}"></script>
{% endblock scripts %}